*{
    margin: 0;
    box-sizing: border-box;
}
body{
    background-color: black;
}
.container{
    width:300px;
    height: 200px;
    background-color: gray;
    margin-top: 200px;
    position: relative;
}

.display{
    background-color: beige;
    height:100px;
   top:10px;
}